<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Portfolio | About</title>
  </head>
  <body>
    <header>
      <nav>
        <div>Logo</div>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Elozino Ovedhe</h1>
      <br>
      <h2>Fullstack Developer</h2>
      <br>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque
        quas odit quo consequuntur aperiam animi facere, unde nam molestias
        aliquam quaerat earum quidem voluptatibus quod non deserunt perferendis
        blanditiis sit!
      </p>
      <br>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit optio,
        nihil totam unde vitae dignissimos rem voluptatibus commodi repellendus
        ipsum ullam officia nemo hic sit accusamus error. Voluptatum, nostrum
        voluptatibus!
      </p>
    </main>
    <footer>&copy; 2022. All rights reserved.</footer>
  </body>
</html>
