<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Portfolio | About</title>
  </head>
  <body>
    <header>
      <nav>
        <div>Logo</div>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Elozino Ovedhe</h1>
      <br />
      <h2>Fullstack Developer</h2>
      <br />
      <p>
        My name is Elozino Ovedhe. I am a Fullstack Javascript developer, UI
        designer, a tech enthusiast and a Mechanical Engineer.
      </p>
      <br />
      <p>
        While not coding i prefer to meditate, watch film, catch on my fun
        things and stay with #family.
      </p>
      <br />
      <p>
        Aside coding, I love to get my hands dirty on thing I enjoy or I feel
        are perquisite to life. My hobbies?? OOps!! Anything thing that makes me
        happy is my hobby.
      </p>
    </main>
    <footer>&copy; 2022. All rights reserved.</footer>
  </body>
</html>
