<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <header>
      <nav>
        <div>Logo</div>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div>
          <h1>Hello, I am Elozino Ovedhe</h1>
          <br>
          <h2>A Fullstack Developer</h2>
          <br>
          <h3>Welcome to my portfolio demo</h3>
          <br>
          <p>
            I am a MERN stack developer that loves providing digital solutions.
            A tech enthusiast and a Mechanical Engineer.
          </p>
        </div>
        <!-- <div>
          <img src="/zino.jpg" alt="image">
        </div> -->
      </section>
    </main>
    <footer>&copy; 2022. All rights reserved.</footer>
  </body>
</html>
